
@import 'colors';
@import 'fonts';

body {
	margin: 0;
	font-size: 12pt;
	background-color: $light_brown;
	font-family: $sans_font;

	a, a:hover, a:active {
		color: inherit;
		text-decoration: inherit;
		font-family: inherit;	
	}

	#media_ident {
		display: none;
		list-style-type: none;
	}
}

@media print {
	@page {
		size: 8.5in 11in;
		margin: 0.5in;
		background-image: url("../../res/pages/paper.jpg");
		background-size: 8.5in 11in;
	}

	body {
		font-size: 11pt;
		background-color: transparent;

		#media_ident {
			list-style-type: disc !important;
		}
	}
}
