
@import 'colors';
@import 'fonts';

#content #main #characterbox div.character .charblock {
	width: 48em;
	margin: 0 auto;

/* ------------------------------ HEADING STYLES ------------------------------ */
	h1 {
		font-family: $title_font;
		color: inherit;
		border-bottom: 0.15em solid $bold_red;
		font-weight: 700;
		font-size: 200%;
		margin-bottom: 0.25em;
		font-variant: small-caps;
		letter-spacing: 0.07em;
		text-decoration: none;
		text-align: left;
		width: auto;
	}

	h2 {
		font-family: $sans_font;
		display: block;
		font-weight: normal;
	    font-style: italic;
	    font-size: 90%;
	    margin: 0;
		line-height: 1;
		text-decoration: none;
		text-align: left;
		border: none;
		width: auto;
		margin-bottom: 1em;
	}

	h3 {
		border-bottom: 0.08em solid $bold_red;
		color: inherit;
	    font-size: 150%;
	    font-variant: small-caps;
	    font-weight: normal;
	    letter-spacing: 0.13em;
	    margin: 0;
	    margin-bottom: 0.3em;
	    break-inside: avoid-column;
	    break-after: avoid-column;
		line-height: 1.1em;
		text-decoration: none;
		width: auto;
	}

	h4 {
		color: inherit;
		font-weight: bold;
		line-height: 1.2em;
		text-indent: -1em;
		display: inline;
		margin-right: 0.6em;
		font-size: 1em;
	}

	h5 {
		color: inherit;
		font-weight: bold;
		line-height: 1.2em;
		text-indent: -1em;
		display: inline;
		margin-right: 0.6em;
		font-size: 1.2em;
	}

/* ------------------------------ STRUCTURE STYLES ------------------------------ */
	div.bar {
	    display: none;
	}

	div.lvl {
		display: none;
	}

	hr.ender {
		display: block;
	    margin-bottom: 0.5em;
	    margin-top: 2em;
	    border: 0.15em solid $bold_red;
	    height: 0;
	    background: none;
	}

	div.middle{
		padding: 2em;
		background-color: $light_brown;
		font-family: $sans_font;
		color: $bold_red;
		border-radius: 0.2em;
		box-shadow: 0 0 2em $dull_beige;
		overflow: hidden;
		font-size: 90%;

		div.propset {
			margin-top: 1.5em;

			p {
				color: black;
				text-indent: 1em;
			}
			p:nth-child(2) {
				text-indent: 0;
			}
		}

		div.top_props {
			margin-top: 0;
		}

/* ------------------------------ PROP STYLES ------------------------------ */
		div.prop {
			display: block;
			padding-left: 1em;
			text-indent: -1em;
			line-height: 0.9em;
			color: black;
			width: auto;
			margin-bottom: 0.4em;

			p {
				display: inline;
				text-indent: 0.5em;
				line-height: 1.2em;
			}
		}
		div.prop.palone {
			text-indent: 1em;
			margin-top: -0.4em;
		}

/* ------------------------------ ABILITIES STYLES ------------------------------ */
		div.abilities {
			border: 0.15em solid $bold_red;
			padding: 0.5em;
			margin-left: 10%;
			margin-right: 10%;
			width: auto;

			table {
				width: 100%;
				border: 0;
				border-collapse: collapse;
				margin-left: 0 auto;

				th, td {
					width: 35px;
					text-align: center;
					line-height: 1.4em;
					font-size: 111%;
					border-left: 0.1em solid $bold_red;
				}
				th.col1, td.col1 {
					border-left: 0;
				}
			}
		}

/* ------------------------------ SKILLS STYLES ------------------------------ */
		div.skills {
			width: 40em;
			margin: 0 auto;
			padding-top: 1.5em;

			table {
				border: 0;
				border-collapse: collapse;
				border-left: 0.1em solid $bold_red;

				th, td {
					color: $bold_red;
					text-align: left;
					line-height: 1.4em;
					text-indent: 0;
					white-space: nowrap;
					font-size: 0.9em;
					padding: 0px;
					padding-left: 1em;
					padding-right: 0.5em;
				}
				th.val, td.val {
					text-align: right;
					text-indent: none;
					padding: 0px;
					padding-right: 1em;
					border-right: 0.1em solid $bold_red;
				}
			}
		}

/* ------------------------------ ATTACKS STYLES ------------------------------ */
		div.atks div.prop {
			padding-left: 0;
			text-indent: 0;
		}

/* ------------------------------ SPELLIST STYLES ------------------------------ */
		div.spellist {
			columns: 3;

			div.prop{
				padding-top: 0.5em;
				page-break-inside: avoid;
				-webkit-column-break-inside: avoid;

				table {
					border-style: none;
					border-collapse: collapse;
					text-indent: 0px;
					display: inline-block;
					width: 100%;

					th, td {
						padding-left: 0px;
						padding-right: 3.5px;
						margin: 0px;
						line-height: 1.3em;
						text-align: left;
						font-size: 120%;
					}
				}

				ul {
					padding: 0px;
					margin: 0px;
					list-style-position: inside;
					list-style-type: circle;
					font-style: italic;
					text-indent: 0px;
					list-style-type: none;

					li {
						line-height: 1.2em;
					}
					li:before {
						font-style: normal;
						font-size: 150%;
						content: '\25E6   ';
					}
					li.prepped:before {
						font-style: normal;
						font-size: 150%;
						content: '\2022   ';
					}
				}

				ul.cantrip li:before {
					font-size: 100%;
					content: '';
				}

			}
		}

	} /*END MIDDLE*/
}

#content #main #characterbox #spellbox {
	width: 46em;
	margin: 0 auto;
	position: relative;
	padding: 1em;
	background-color: $light_brown;
	font-family: $sans_font;
	color: $bold_red;
	border-radius: 0.2em;
	box-shadow: 0 0 2em $dull_beige;
	overflow: hidden;
	columns: 2;
	margin-top: 3em;

	h1 {
		width: 100%;
		text-align: center;
		border-bottom: 0.2em solid $bold_red;
		overflow: hidden;
		margin-bottom: 0.5em;
	}
}