
#content #main #spellbox div.spellblock {
	width: auto;
	font-size: 85%;
	margin-bottom: 0;

	div.middle {
		border-radius: 0;
		box-shadow: none;
		padding-top: 0;

		prop table {
			width: 100%;
			margin-left: 0;
		}
	}

	hr.ender {
		margin-bottom: 0;
	}
}