
@import 'colors';
@import 'fonts';

ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    cursor: text;
    min-height: 1px;
    z-index: 999;
    margin: 0 !important;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    display: block;
    box-shadow: 0 0 0.5em #c6bba4;
    border: none;
    font-size: inherit;
    float: left;
    width: 70% !important;
    height: 1em;
    padding: 0.2em;
    padding-left: 0.2em !important;
}
ul.token-input-list-facebook:focus {
    box-shadow: 0 0 0.5em $light_grey inset;
    outline: none;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-facebook {
    overflow: hidden; 
    display: inline-block;
    height: auto !important; 
    margin: 0.2em;
    color: #000;
    cursor: default;
    float: left;
    white-space: nowrap;
    background-color: #efe0d5;
    border: 1px solid #7A200D;
    color: #7A200D;
    padding: 0.1em;
    padding-right: 0.3em;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0.5em;
    margin: 0;
}

li.token-input-token-facebook span {
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border: none;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 3;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}