
$light_brown: #fdf1dc;
$dull_light_brown: #dac7ab;
$dull_brown: #dfd4c0;
$dull_beige: #c6bba4;
$bright_beige: #fce7cb;

$bold_red: #7a200d;
$dark_red: #3c1710;
$light_red: #903523;
$faded_red: #efe0d5;
$bright_red: #e9bca7;
$vibrant_red: #cc0000;
$necro_red: #661A1A;
$transp_red: rgba(122, 32, 13, 0.15);

$fire_orange: #FF7E0F;
$force_orange: #EF4010;

$bold_green: #1A7400;
$acid_green: #B3BD1A;
$poison_green: #5AB417;
$vibrant_green: #00cc00;

$ice_blue: #207F86;
$radiant_blue: #48E5A7;
$thunder_blue: #486AE5;

$lightning_purple: #B149EA;
$psychic_pink: #B41771;

$grey: #999999;
$light_grey: #bbbbbb;