
#content #header {
	display: none;
}

#content #main #characterbox div.character div.charblock {
	width: auto;
	padding: 0;
	margin: 0;
	height: 100%;

	div.middle {
		background-color: transparent;
		border-radius: 0;
		box-shadow: none;
		width: auto;
		margin: 0;

		h5 {
			display: block;
			margin-left: 1em;
			page-break-after: avoid;
		}

		p {
			page-break-inside: initial;
			orphans: 3;
			widows: 4;
		}
	}
}

#content #main #characterbox #spellbox {
	background-color: transparent;
	box-shadow: none;
	width: auto !important;
	margin: 0;
	padding: 0;

	div.spellblock {
		width: auto;
		page-break-inside: avoid;
	}
}